@font-face{  font-family: 'Sega';
    src: url(./font/SEGA.woff);
}



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: -webkit-gradient(linear,right top, left top,from(#071b52),to(#008080));
    background: -webkit-linear-gradient(right,#071b52 0%,#008080 100%);
    background: -o-linear-gradient(right,rgba(7,27,82,1) 0%,rgba(0,128,128,1) 100%);
    background: linear-gradient(to left,rgba(7,27,82,1) 0%,rgba(0,128,128,1) 100%);
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
   
}
.card{
    background-color:#9EEBCF;
    margin: 10px;
    transition: all 0.3s ease;
    border-radius: 5px;
    width: 250px;
    
}
.card:hover{
    transform: scale(1.05);
    
}
h1{
    text-align: center;
    font-size: 3em;
    font-family: 'Sega';
    font-weight: normal;
    color: #0CCAC4;
    margin-top: 30px;
    
}

    
        

h3{
    text-align: center;
   
}
h4{
    text-align: center;
   

}
img{
    width: 100%;
}
.search{
    text-align: center;
  
}
input{
    padding: 15px;
    margin-top: 5%;
    font-size: 1rem;
    background-color: #CDECFF;
    margin-bottom: 10px;
}
.loading{
    font-size: 3rem;
    font-family: 'Sega';
    color: #0CCAC4;
    /* display: flex;
    justify-content: center; */
    
}

.robot-details  span{
    font-size: 16px;
    margin-left: 10px;
}
.robot-details p{
    text-align: left;
    padding : 3px ;
    
}
.robot-details h4{
    margin-top: 10px;
    font-size: 16px;
    text-align: left;
}
.robot-details h5{
    font-weight: bold;
    font-size: 1rem;
    margin-left: 10px;

}
.span{
    font-weight: bold;
    margin-left: 10px;
}
@media screen and (max-width: 767px) {
    h1{
      text-align: center;
      font-size: 1.6rem;
      font-family: 'Sega';
      font-weight: normal;
      color: #0CCAC4;
      margin-top: 30px;
    }

    .loading{
        font-size: 1.6rem;
        font-family: 'Sega';
        color: #0CCAC4;
        margin-top: 50px;
         display: flex;
        justify-content: center; 
        
    }
}